/**Edición de Contacto**/
.banner {
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 16px;
}
.text-contact{ 
    color: white;
    position: relative;
    top: 32px;
    left: 22px;
}
.mini-banners {
    width: 100%;
    padding: 10px;
 }